@font-face {
  font-family: 'SUITE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: bold;
}

@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
  body {
    @apply bg-[#f8f8f8] font-SUITE;
    > div {
      @apply mx-auto w-[80%] px-4 pb-14 max-sm:w-full max-sm:px-5;
      > main {
        @apply relative;
      }
    }
    /* ql-editor */
    .ql-editor.ql-blank::before {
      color: #ccc;
    }
    .ql-toolbar {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      &.ql-snow .ql-formats {
        margin: 0px;
      }
    }
    .ql-container {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 100%;
      height: 50vh;
      word-break: break-all;
      font-size: 16px;
    }
    .ql-snow {
      h1 {
        font-size: 17px;
        display: inline-block;
        padding-bottom: 7px;
      }
    }
    .ql-editor {
      padding: 8px 10px;
      font-family: 'SUITE';

      > h1 {
        font-size: 17px;
        display: inline-block;
        padding-bottom: 7px;
      }
      .ql-size-small {
        font-size: 14px;
      }
      .ql-size-large {
        font-size: 20px;
      }

      p,
      blockquote,
      li {
        margin-bottom: 8px;
      }

      blockquote {
        padding-left: 8px;
        color: #666;
        border-left: 5px solid #c0c0c0;
      }

      span {
        font-size: 16px;
        &.ql-size-small {
          font-size: 14px;
        }
        &.ql-size-large {
          font-size: 18px;
        }
      }

      ol,
      ul {
        padding-left: 20px;
        margin-bottom: 5px;
        li {
          &:before {
            display: none;
          }
          &:not(.ql-direction-rtl) {
            padding-left: 0;
          }
          &:not(.ql-direction-rtl)::before {
            margin: 0;
            padding-left: 0;
            text-align: center;
          }
        }
      }
      ul {
        li {
          list-style-type: disc;
        }
        li::marker {
          color: #333;
        }
      }
      ol {
        li {
          list-style-type: decimal;
        }
      }
      a {
        font-size: 15px;
        color: #2845ff;
        text-decoration: underline;
      }
    }
    /* input */
    .react-datepicker-wrapper {
      @apply flex flex-1 border-0;
    }
    /* 날짜 캘린더 */
    .react-datepicker {
      @apply rounded-b-none rounded-t-xl border border-b-0 border-gray2 text-sm;
    }
    .react-datepicker__input-container {
      @apply flex flex-1 border-0;
    }

    /* 헤더 */
    .react-datepicker__header {
      @apply mx-0 rounded-t-xl border-0 bg-green1;
    }
    .react-datepicker-popper[data-placement^='bottom']
      .react-datepicker__triangle::after {
      @apply border-b-green1;
    }
    .react-datepicker__current-month {
      @apply my-1 font-SUITE text-darkBlue;
    }
    /* 헤더 날짜 네비게이션 */
    .react-datepicker__navigation {
      @apply absolute flex size-[40px] items-center justify-center rounded-2xl;
    }
    .react-datepicker__navigation-icon::before {
      @apply border-r-2 border-t-2 border-darkBlue;
    }

    /* 날짜가 모여있는 달력 */
    .react-datepicker__month {
      @apply my-1;
    }
    .react-datepicker__month-container {
      @apply float-none;
    }
    /* 요일들 */
    .react-datepicker__day-name {
      @apply mx-0.5 font-SUITE text-[12px] text-green3;
    }
    .react-datepicker__day {
      @apply m-0.5 font-SUITE text-[13px];
    }
    /* day: 주말 날짜 */
    .react-datepicker__day:nth-child(1):not(
        .react-datepicker__day--outside-month
      ):not(.react-datepicker__day--disabled) {
      /* 일요일 날짜*/
      @apply text-pointCoral;
    }
    /* 선택된 날짜 */
    .react-datepicker__day--selected {
      @apply bg-green2 font-semibold text-darkBlue;
    }
    /* 날짜에 마우스를 올릴 때 */
    .react-datepicker__day:hover {
      @apply cursor-pointer border-0 bg-green3 text-darkBlue;
    }
    .react-datepicker__day:not([aria-disabled='true']):hover,
    .react-datepicker__month-text:not([aria-disabled='true']):hover,
    .react-datepicker__quarter-text:not([aria-disabled='true']):hover,
    .react-datepicker__year-text:not([aria-disabled='true']):hover {
      @apply cursor-pointer border-0 bg-green2 text-darkBlue;
    }
    .react-datepicker__day--keyboard-selected {
      @apply bg-transparent;
    }
    .react-datepicker__day--outside-month {
      @apply text-gray3;
    }

    /* 시간 Input */
    .react-datepicker__input-time-container {
      @apply mx-2 mb-4 mt-0 flex w-[94%] items-center rounded-xl border bg-white px-4 shadow-card;
    }
    .react-datepicker-time__input-container {
      @apply flex flex-1 bg-transparent;
    }
    .react-datepicker-time__caption {
      @apply font-SUITE text-sm text-gray1;
    }
    .react-datepicker-time__input {
      @apply m-0 flex w-full flex-1 font-SUITE;
    }
    .react-datepicker__input-time-container
      .react-datepicker-time__input-container
      .react-datepicker-time__input
      > input {
      @apply ml-0 w-full flex-1 bg-transparent py-2 text-gray1 outline-none;
    }

    /* Swiper */
    .swiper {
      @apply min-h-fit w-full;
    }
    .swiper-slide {
      @apply flex items-center justify-center px-1;
    }
    /* 네비게이션 아이콘 스타일 */
    .swiper-button-prev {
      @apply left-0 top-[42%] size-10 rounded-full border bg-gray1 text-white;
    }
    .swiper-button-next {
      @apply right-0 top-[42%] size-10 rounded-full border bg-gray1 text-white;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 14px;
    }
    /* 스크롤바 드래그 */
    .swiper-scrollbar.swiper-scrollbar-horizontal {
      cursor: pointer;
    }
    .swiper-pagination {
      margin: 20px 0;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
